/* GENERAL STYLE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--color-background)
}

body {
  background: var(--color-background);
  font-family: var(--font-family);
}

/* MODIFIER */


