@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --color-background: #222222;
  --color-header: #150050;
  --color-text: #3F0071;
  --color-subtext: #FB2576;
}
